.question__5 div {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

#chart1, #chart2 {
  height: 500px;
}

svg {
  font-family: Sans-Serif, Arial;
  margin: 0 auto;
}

.line {
  stroke-width: 2;
  fill: none;
}

.axis path {
  stroke: black;
}

.text {
  font-size: 12px;
}

.title-text {
  font-size: 12px;
}
