h1 {
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
}

svg {
  border: 1px solid black;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke: black;
  stroke-width: 1.5px;
}

text {
  fill: rgb(0, 0, 0);
  font: 10px sans-serif;
  pointer-events: none;
}